@import '../../mq';

@media #{$tabletPortrait} {
  @import '../mobile';

  & {
    .article_2-slider {
      .row {
        margin-left: -15px;
        margin-right: -15px;
      }

      .col-7,
      .col-5 {
        padding: 0 15px;
      }
    }

    .article_2-slider .item img {
      min-height: 143px;
    }
     .h2-title,  .head-item h1 {
    font-size: 34px;
}
    .registration-form {
    padding: 70px;
}
    .modal .registration-form {
    padding: 90px 100px;
}
  }
}